<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود  به واتسپ</title>
    <link rel="stylesheet" href="../static/css/style.css">
 
</head>
<body>
    <h2>ورود به واتسپ</h2>
    <form action="/login" method="POST">
        <label for="">نام کاربری</label>
        <input type="text" name="username">
        <br>
        <br>
        <label for="">کلمه عبور</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="ورود">
    </form>
</body>
</html>